html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP', 'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    color: #000000;
    /*margin: 0;*/
    /*padding: 0;*/
    line-height: 1.6;
    font-size: 14px; /* Default font size for the entire text */
    padding-top: 40px; /* Additional space for sticky header */
    padding-bottom: 20px; /* Additional space for fixed footer */
}

header {
    background-color: #000000;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is always on top */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center-align the text */
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px; /* Reduce font size in navigation */
}

/*ul li a:hover {
    text-decoration: underline;
} */

main {
    flex: 1;
    padding-top: 80px; /* Additional space for sticky header */
    padding-bottom: 80px; /* Additional space for footer */
}

section {
    padding: 2rem;
    border-bottom: 1px solid #e6e6e6;
}

h1 {
    font-family: 'Noto Sans JP', 'Noto Sans KR', serif;
    margin-top: 0;
    font-size: 24px; /* Reduce font size for h1 header */
}

h2 {
    font-family: 'Noto Sans JP', 'Noto Sans KR', serif;
    margin-top: 0;
    font-size: 20px; /* Reduce font size for h2 header */
    color: #333333; /* Dark gray color for h2 */
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure the footer is always on top */
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
