<header>
	<div class="header-content">
		<h1>Katarzyna Ostapowicz</h1>
		<h2>Research Scientist</h2>
		<a href="https://www.nina.no/english" target="_blank"><h2>Norwegian Institute for Nature Research (NINA)</h2></a>
		<h2>Environmental Data Science | Earth Observation | Land System Science | Biodiversity & Climate Research</h2>
	<!--	<p></p> -->
    <!--    	<nav> -->
    <!--         		<ul> -->
    <!--           		<li><a href="/index.html">About</a></li> -->
    <!--            		<li><a href="../subpages/background.html">Background</a></li> -->
    <!--            		<li><a href="../subpages/projects.html">Projects</a></li> -->
    <!--            		<li><a href="../subpages/publications.html">Publications</a></li> -->
    <!--            		<!-- <li><a href="#data-tools">Data & Tools</a></li> --> -->
    <!--            		<!-- <li><a href="#teaching">Teaching</a></li> --> -->
    <!--            		<li><a href="../subpages/contact.html">Contact</a></li> -->
    <!--       		</ul> -->
    <!--   	</nav> -->
	</div>
</header>
