<header>
	<div class="header-content">
		<a href="#home"><h1>Katarzyna Ostapowicz</h1></a>
		<a href="#home"><h2>Research Scientist</h2></a>
		<a href="https://www.nina.no/english"><h2>Norwegian Institute for Nature Research (NINA)</h2></a>
		<p></p>
        	<nav>
            		<ul>
                		<li><a href="/index.html">About me</a></li>
                		<li><a href="../subpages/background.html">Background</a></li>
                		<li><a href="../subpages/projects.html">Projects</a></li>
                		<li><a href="../subpages/publications.html">Publications</a></li>
                		<!-- <li><a href="#data-tools">Data & Tools</a></li> -->
                		<!-- <li><a href="#teaching">Teaching</a></li> -->
                		<li><a href="../subpages/contact.html">Contact</a></li>
            		</ul>
        	</nav>
	</div>
</header>
