/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif; /* Use Nunito Sans for all text */
    background-color: #f2f2f2; /* Light gray background for the page */
    color: #333333; /* Dark gray color for text */
    line-height: 1.6;
    font-size: 14px; /* Default font size for the entire text */
}

/* Header styles */
header {
    background-color: #001f3f; /* Dark navy blue background */
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure the header is always on top */
}

.header-content {
    text-align: center; /* Center-align the header content */
}

header h1 {
    font-family: 'Nunito Sans', sans-serif; /* Ensure header uses Nunito Sans */
    color: #ffffff; /* White color for text */
    margin: 0;
    font-size: 24px;
}

header h2 {
    font-family: 'Nunito Sans', sans-serif; /* Ensure header uses Nunito Sans */
    color: #ffffff; /* White color for text */
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center-align the text */
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px; /* Reduce font size in navigation */
}

/* Main content styles */

main {
    flex: 1;
    padding-top: 120px; /* Ensure enough space for the fixed header */
    padding-bottom: 100px; /* Additional space for footer */
    margin-top: 0; /* Remove margin-top to avoid additional spacing issues */
}

/* Sections content styles */
section {
    padding: 2rem;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1rem; /* Add top margin to each section */
}

section:first-of-type {
    margin-top: 1.5rem; /* Ensure the first section has enough space from the header */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif; /* Use Nunito Sans for headings */
    color: #333333; /* Dark gray color for headings */
}

h1 {
    margin-top: 1rem; /* Ensure there is space between the header and the first heading */
    font-size: 24px; /* Reduce font size for h1 header */
}

h2 {
    margin-top: 1rem; /* Add top margin to h2 headers */
    font-size: 20px; /* Reduce font size for h2 header */
}

/* Image-Text-box style*/
.image-text-box {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-text-box .profile-image {
    flex-shrink: 0;
    margin-right: 10px; /* Mały margines między obrazem a tekstem */
}

.image-text-box .profile-text {
    text-align: justify;
    flex: 1;
}

/* Text-box style*/
.text-box {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: justify;
}

.contact-box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-box .contact-text,
.contact-box .contact-map {
    flex: 1;
    margin: 0 10px;
    width: 50%; /* Ustaw szerokość na 50% dla każdego elementu */
}

/* sgd icons styles */
.sdg-icons {
    flex: 0 0 25%; /* 25% width for the icons */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align icons in the column */
    gap: 10px; /* Space between the icons */
}

.sdg-icons img {
    width: 100%; /* Adjust icons to fit the column width */
    height: auto;
}

/* Badge section styles */
.badges-section {
    display: flex;
    align-items: center;
    margin-top: 2rem; /* Adjust margin as needed */
}

.badges-section p {
    margin: 0;
    font-weight: bold;
    margin-right: 10px; /* Space between text and badges */
}

.badges {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the badges */
}

.badges img {
    height: 20px; /* Adjust the size of the badges to be the same */
    width: auto;
}

/* Footer styles */
footer {
    background-color: #001f3f; /* Dark navy blue background */
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

a {
    color: #333333; /* Dark gray color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
